.notification {
  width: 120px;
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 10px;
  box-shadow: 0 5px 14px rgba(0, 0, 0, 0.75);
}

.title {
  font-size: 13px;
  font-weight: bold; 
}

.description {
  font-size: 11px;
}